{% extends 'admin/base.html' %}
{% import "foundation/fixes.html" as fixes %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<meta charset="utf-8">
<!-- If you delete this meta tag World War Z will become a reality -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Foundation -->
<link rel="stylesheet" href="/static/foundation/css/normalize.css">
<link rel="stylesheet" href="/static/foundation/css/foundation.min.css">
<link rel="stylesheet" href="/static/foundation/css/foundation-icons.css">
<script src="/static/foundation/js/vendor/modernizr.js"></script>

<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv-printshiv.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
<![endif]-->

<link rel="stylesheet" href="/static/css/style.css">

<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv-printshiv.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
<![endif]-->

<link rel="stylesheet" href="/static/css/style.css">

{% endblock head %}

{% block page_body %}
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><a href="/">{{ title }}
          <!--<img src="/static/img/logo.png" />
          --></a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul>
        {{ layout.menu() }}
        {{ layout.menu_links() }}
      </ul>
    </section>
  </nav>

  <div class="container">
    <div class="container">
      <div id="content-page-name">
        {% block brand %}
          <h2 id="brand">{{ admin_view.name|capitalize }}</h2>
          <div class="clearfix"></div>
      </div>
      <div id="content">
        {% endblock %}
        {{ layout.messages() }}
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}